.profile-pic {
      width: 40px;
      height: 40px;
      object-fit: cover;
      border-radius: 50%;
    }
.logo {
    height: 40px;
}

.custom-header{
    padding: 10px 30px;
    background: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    color: #000;
}