<br>
<nav class="navbar navbar-expand-lg navbar-light bg-light px-3 shadow-sm w-100">
  <div class="d-flex justify-content-between align-items-center w-100">
     <app-user-bar-control
        [title]="pageTitle"
        [subtitle]="pageSubtitle"
        [showBackButton]="showBackFlag"
       [showSubtitle] = true>
      </app-user-bar-control>

<div class="input-group me-3" style="width: 350px;">
  <span class="input-group-text">
    <i class="bi bi-search"></i> 
  </span>
  <input 
    type="text" 
    class="form-control" 
    placeholder="Search by Company Name" 
    (input)="onSearch($event.target.value)" />
</div>


      <button class="btn btn-primary" (click)="navigateToAddLicense()">
          <i class="bi bi-plus-lg"></i>  Add License
        </button>
  </div>
</nav>

<br>


  <div class="row">
    <div class="col-12">
        <table id="example" class="table  table-bordered w-100">
          <thead class="table-light">
            <tr>
              <th>Licensed Company Name</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let license of licenses$ | async">
              <td>
                <a [routerLink]="['/license-summary']" [queryParams]="{ licenseId: license.licenseId, userId: license.userId }" class="text-decoration-none">
                  {{ license.companyName }}
                </a>
              </td>
             <td>
  <div class="dropdown">
    <button 
      class="btn btn-primary btn-sm dropdown-toggle" 
      type="button" 
      data-bs-toggle="dropdown" 
      aria-expanded="false">
      Actions
    </button>
    <ul class="dropdown-menu">
      <li>
       <button 
  class="dropdown-item text-primary" 
  (click)="viewDetails(license.licenseId)">
  Modify
</button>

      </li>
      <li>
        <button 
          class="dropdown-item text-success" 
          (click)="openAlert(license.licenseId ?? 0)">
          Renew License
        </button>
      </li>
      <li>
        <button 
          class="dropdown-item text-danger" 
          (click)="confirmSuspend(license)" 
    [disabled]="!license.isActive">
          Suspend
        </button>
      </li>
      <li>
        <button 
          class="dropdown-item text-danger" 
          (click)="confirmDelete(license.licenseId!)">
          Delete
        </button>
      </li>
    </ul>
  </div>
</td>

            </tr>
          </tbody>
          <app-renew-license *ngIf="showAlert"
                             [licenseId]="alertLicenseId!"
                             [title]="alertTitle"
                             (closed)="onAlertClosed()">
          </app-renew-license>

        </table>
    </div>
  </div>
