<div class="row justify-content-center ">
  <div class="col-md-8">
    <div class="card shadow p-4 mt-3">
      <div class="card-body">
        <h1 class="display-1 text-danger">
          <i class="fas fa-exclamation-triangle"></i> Sorry
        </h1>
        <h2 class="text-dark">Oops! You do not have access</h2>
        <p class="lead">You do not have access to this feature. Please contact your administrator.</p>
        <a href="/home" class="btn btn-primary mt-3">
          <i class="fas fa-home"></i>  Go to Homepage
        </a>
      </div>
    </div>
  </div>
</div>
