
.toast-success {
  background-color: #51A351; /* green */
  color: white;
}

.toast-error {
  background-color: #f1635c; /* red */
  color: white;
}

.toast-info {
  background-color: #2F96B4; 
  color: white;
}

.toast-warning {
  background-color: #F89406; 
  color: white;
}
.toast-bottom {
    position:absolute !important;
    top:90%;

}