<!-- <div>
  <!-- <div class="col-lg-12 p-0">
    <h2 class="mt-4 mb-3">Exchanges </h2> -->
    <!--<button class="btn btn-primary mb-3" (click)="navigateToAddExchange()">
    Add Exchange
  </button>-->
  <!-- <div class="col-lg-12 p-0">
    <div class="mt-4 mb-3">
  <div class=" header">
      <h2>Exchanges </h2>
<div class="button-container">
 <button class="add-button"  (click)="navigateToAddExchange()">
      <i class="icon-plus"></i>
       + Add Exchange 
    </button>
</div>
  </div>
  </div> 
  </div>
  <div class="col-lg-12 data-table-container">
    <table id="example" class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>Exchange Name</th>
          <th>Currency</th>
          <th>Country</th>
          <th>Localization</th>
          <th>Language</th>
          <th>Reference Prefix</th>
          <th>IsActive</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exchange of exchanges$ | async">
          <td> -->
            <!-- <a [routerLink]="['/exchange-summary', exchange.exchangeId]" [queryParams]="{ exchangeId: exchange.exchangeId }">
              {{ exchange.exchangeName }}
            </a> -->
<!-- 
            <a [routerLink]="['/exchange-summary']" [queryParams]="{ licenseId: exchange.licenseId }">
              {{ exchange.companyName }}
            </a>
          </td>
          <td>{{ exchange.currency }}</td>
          <td>{{ exchange.country }}</td>
          <td>{{ exchange.localization }}</td>
          <td>{{ exchange.language }}</td>
          <td>{{ exchange.referencePrefix }}</td>
          <td>{{ exchange.isActive ? 'Yes' : 'No' }}</td> -->
          <!--<td>
    <button *ngIf="exchange.exchangeParentId !== null" (click)="viewDetails(exchange.exchangeId)" class="btn btn-success">Modify</button> |
    <button *ngIf="exchange.exchangeParentId !== null" (click)="deleteExchange(exchange.exchangeId!)" class="btn btn-danger">Delete</button>
  </td>-->
          <!-- <td>
            <button 
            (click)="viewDetails(exchange.licenseId)"
                    class="btn btn-success"> -->
            <!-- *ngIf="exchange.exchangeParentId !== null && canEditExchange" -->
<!--                     
              Modify
            </button>

            <button 
            (click)="deleteExchange(exchange.licenseId!)"
                    class="btn btn-danger"> -->
                    <!-- *ngIf="exchange.exchangeParentId !== null && canDeleteExchange" -->
                    
              <!-- Delete
            </button>
          </td>

        </tr>
      </tbody>
    </table>
  </div>
</div> -->
