<!-- 
<nav [class.show]="showMenu" class="grid-menu">
  <br>
  <a routerLink="/dashboard" class="grid-item">
    <fa-icon [icon]="faChartBar"></fa-icon>
    Dashboard
  </a>
  <a routerLink="/view-estimate" class="grid-item">
    <fa-icon [icon]="faReceipt"></fa-icon>
    Estimates
  </a>
  <a routerLink="/invoice-list" class="grid-item">
    <fa-icon [icon]="faFileInvoice"></fa-icon>
    Invoices
  </a>
  <a routerLink="/view-client" class="grid-item">
    <fa-icon [icon]="faUsers"></fa-icon>
    Clients
  </a>
  <a routerLink="/view-expenses" class="grid-item">
    <fa-icon [icon]="faMoneyBillWave"></fa-icon>
    Expense
  </a>
</nav>
 -->
