<div class="dashboard-container">
  <!-- Month dropdown -->
  <div class="month-selector">
    <label for="month">Month</label>
   <select id="month" [(ngModel)]="selectedMonth" (ngModelChange)="fetchData()">
  <option *ngFor="let month of ['January', 'February', 'March', 'April','May','June','July', 'August', 'September', 'October', 'November','December' ]">{{ month }}</option>
</select>

<div class="year-selector">
    <label for="year">Year</label>
   <select id="year" [(ngModel)]="selectedYear" (ngModelChange)="fetchData()">
  <option *ngFor="let year of ['2013', '2014', '2015', '2016','2017','2018','2019', '2020', '2021', '2022', '2023','2024', '2025' ]">{{ year }}</option>
</select>

  </div>

  </div>

    

  <!-- Summary Cards -->
  <div class="summary-cards">
    <!-- <div class="card green">
        <tr *ngFor="let record of total_Credits">
      <h2>{{record.total_Credits}}</h2> 
      </tr>
      <p>Total Credits</p>
    </div>
    <div class="card red">  -->
      <!-- <tr *ngFor="let expense of dashboardExpenses"> -->
      <!-- <h2>{{totalExpenses }}</h2> -->
      <!-- </tr> -->
      <!-- <p>Total Expenses</p> -->
    <!-- </div> -->

    <!-- <div class="card green">
  <h2> {{ this.total_Credits  }}</h2>
  <h2>N/A</h2>
  <p>Total Credits</p>
</div> -->

<!-- <div class="card red"> -->
  <!-- <h2 >{{ this.total_Expenses }}</h2> -->
  <!-- <h2>N/A</h2>
  <p>Total Expenses</p>
</div> -->


<div class="card green">
      <h2>{{ total_Credits !== null && total_Credits !== undefined ? total_Credits : 'N/A' }}</h2>
      <p>Total Credits</p>
    </div>
    <div class="card red">
      <h2>{{ total_Expenses !== null && total_Expenses !== undefined ? total_Expenses : 'N/A' }}</h2>
      <p>Total Expenses</p>
    </div>
    <div class="card blue">
      <h2>0.0 <fa-icon [icon]="faArrowDown" style="color: red;"></fa-icon></h2>
      <p class="growth">Growth (%)</p>
    </div>
  </div>

  <!-- Tables -->
  <div class="tables">
    <div class="table-section">
      <h4>Credits Distribution</h4>
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>₹ Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let records of recordPayments" >
            <td>{{ records.categoryTitle }}</td>
          <td>{{ records.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-section">
      <h4>Expenses Distribution</h4>
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>₹ Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of dashboardExpenses">
          <td>{{ expense.categoryTitle }}</td>
          <td>{{ expense.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
