<div class="dashboard-container">
  <!-- Month dropdown -->
  <div class="month-selector">
    <label for="month">Month</label>
   <select id="month" [(ngModel)]="selectedMonth">
  <option *ngFor="let month of ['January', 'February', 'March', 'April','May','June','July', 'August', 'September', 'October', 'November','December' ]">{{ month }}</option>
</select>

<div class="year-selector">
    <label for="year">Year</label>
   <select id="year" [(ngModel)]="selectedYear">
  <option *ngFor="let year of ['2013', '2014', '2015', '2016','2017','2018','2019', '2020', '2021', '2022', '2023','2024', '2025' ]">{{ year }}</option>
</select>

  </div>

  </div>

    

  <!-- Summary Cards -->
  <div class="summary-cards">
    <div class="card green">
      <h2>₹ 222,222</h2>
      <p>Total Credits</p>
    </div>
    <div class="card red">
      <h2>₹ 0</h2>
      <p>Total Expenses</p>
    </div>
    <div class="card blue">
      <h2>0.0 <fa-icon [icon]="faArrowDown" style="color: red;"></fa-icon></h2>
      <p class="growth">Growth (%)</p>
    </div>
  </div>

  <!-- Tables -->
  <div class="tables">
    <div class="table-section">
      <h4>Credits Distribution</h4>
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>₹ Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let records of recordPayments" >
            <td>{{ records.categoryTitle }}</td>
          <td>{{ records.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="table-section">
      <h4>Expenses Distribution</h4>
      <table>
        <thead>
          <tr>
            <th>Category</th>
            <th>₹ Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let expense of dashboardExpenses">
          <td>{{ expense.categoryTitle }}</td>
          <td>{{ expense.amount }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
